<p>emplist works!</p>
<div >
    <!-- <h3>{{emp.eid}}--{{emp.ename}}--{{emp.email}}--{{emp.gender}}</h3> -->
    <table class="table table-dark table-striped" >
      <thead >
        <tr>     
           <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>IsMarried</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody >
        <tr class="clickable"  *ngFor="let emp of employees">

        <td><a class="nav-link active"
          aria-current="page"
          routerLink="/updateemp/{{emp.eid}}"
          routerLinkActive="active"
          aria-current="page">{{emp.eid}}</a></td>
        <td>{{emp.ename}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.isMarried}}</td>
        <td>
          <button (click)="onDelete(emp)">X</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>